#home-container #main-content .date-block {
  background: #dcdcdc;
  padding: 5px;
}

#home-container #main-content .date-block .date-holder, #home-container #main-content .date-block .date-selector {
  cursor: pointer;
}

#home-container #main-content .table-responsive tbody td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #aaaaaa;
}

#home-container #main-content .table-responsive tbody td a {
  border-bottom: 1px #aaaaaa dotted;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#home-container #main-content .table-responsive tbody td.first-td {
  text-align: left;
  min-width: 200px;
  position: relative;
  left: 0;
  background-color: white;
  padding: 0;
  border: none;
}

#home-container #main-content .table-responsive tbody td.first-td div {
  padding: 8px;
  border-left: 1px #aaaaaa solid;
  border-top: 1px #aaaaaa solid;
  border-bottom: 1px #aaaaaa solid;
}

#home-container #main-content .table-responsive tbody td.first-td div.block {
  padding: 0 0 0 8px;
  vertical-align: middle;
  line-height: 44px;
  border: 1px #aaaaaa solid;
}

#home-container #main-content .table-responsive tbody td.first-td div.spanned {
  line-height: 55px;
  border: 1px #aaaaaa solid;
}

#home-container #main-content .table-responsive tbody td.no-border {
  border: none;
}

#home-container #main-content .table-responsive tbody .room-block {
  background: #cccccc;
}

#home-container #main-content .table-responsive tbody .days {
  background-color: #dcdcdc;
}

#home-container #main-content .table-responsive tbody .sunday, #home-container #main-content .table-responsive tbody .saturday {
  background-color: #760000;
  color: white;
}

#home-container #main-content .table-responsive tbody .single-room {
  background-color: #c5c690;
}

#home-container #main-content .table-responsive tbody .single-room div {
  background-color: #c5c690;
}

#home-container #main-content .table-responsive tbody .double-room {
  background-color: #D2E6EE;
}

#home-container #main-content .table-responsive tbody .double-room div {
  background-color: #D2E6EE;
}

#home-container .editable-buttons {
  margin-top: 5px;
}

#home-container .editable-submit {
  margin-right: 5px;
}

#home-container a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  #home-container #home-container #main-content .table-responsive tbody td.first-td {
    max-width: 160px;
  }
  #home-container .editable-input {
    display: block;
  }
}

#home-container .page-navigation .btn-arrow {
  width: 30px;
  height: 27px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(127, 127, 127, 0.5);
  display: block;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  top: 50%;
  line-height: 30px;
}

#home-container .page-navigation .right {
  right: 0;
  z-index: 9999;
}

#home-container .page-navigation .left {
  left: 0;
  z-index: 9999;
}

#home-container .bulk-insert-form .form-contents {
  padding-top: 10px;
}

#home-container .bulk-insert-form .form-contents label.error {
  color: red;
}

#home-container .bulk-insert-form .form-contents span.checkbox {
  margin-right: 15px;
}

.checkbox input[type=checkbox] {
  position: relative;
  margin: 0;
}

.checkbox label {
  padding: 0;
}

.checkbox {
  display: inline-block;
}

/*# sourceMappingURL=list.css.map */
